/*
File Name: stylesheet.css
Date: 01/30/23
Programmer: Justin Cory
*/
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* 
--COLOR PALETTE--
Primary: #F1EDD7; 
Background: #1F1F1F;
Body Text: #F2F2F2;
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #1f1f1f;
  height: 100vh;
  width: 100vw;
  /* cursor styling */
  cursor: url("./images/single-star-cursor.png"), auto;
}
h1 {
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 220px;
  color: #f1edd7;
}
h2 {
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 92px;
  color: #f1edd7;
}
h3 {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 51px;
  color: #f1edd7;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #f1edd7;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f2f2f2;
}
p {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 128%;
  color: #f2f2f2;
}
.current-page {
  text-decoration: overline underline solid #f1edd7;
  text-underline-offset: .25em;  
}
a:hover{
  cursor: url("./images/cursor-stars.png"), auto;
}

a {
  text-decoration: none;
}
a:hover {
  scale: 1.1;
}
a:visited {
  color: #f2f2f2;
}
a:current {
  text-decoration: overline underline 1px solid #f1edd7;
}
nav ul {
  position: fixed;
  height: 100px;
  left: 100px;
  right: 100px;
  top: 0px;
  width: calc(100vw - 202px);
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 999;
  /* nav background */
  background: rgba(31,31,31,.65)
}
nav a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1edd7;
  padding: 30px 0;
}
nav li {
  z-index: 999;
}
img { 
  width: 100%;
  height: auto;
}
.vert-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 100px;
  width: calc(100vw - 200px);
  height: 100vh;
  border: 0;
  border-left: 1px solid #f1edd7;
  border-right: 1px solid #f1edd7;
  z-index: 0;
}
.horiz-lines {
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 200px);
  border: 0;
  border-top: 1px solid #f1edd7;
  border-bottom: 1px solid #f1edd7;
  z-index: 0;
}
.intro {
  margin: auto;
  display: flex;
  height: calc(100vh - 200px);
  padding: 100px 120px;
  justify-content: center;
  z-index: 3;
}
.left {
  flex: 1;
  padding-left: 0px;
}
.right {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.title {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.accent {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
.subhead {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.2rem;
  padding-top: 6rem;
  justify-content: center;
}
.arc-img {
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.ovals {
  display: flex;
  width: 60%;
  /* turned off margin: auto; to the img width overlap to center the offset cards*/
  margin-left: 16%;
  padding-top: 400px;
  padding-bottom: 150px;
}
.ovals img {
  width: 150%;
}

.card img {
  filter: grayscale(100%);
  transition: 500ms;
}
.card {
  flex: 1;
  display: flex;
}
.card .self {
  z-index: 9;
}
.card .persona {
  z-index: 8;
}
.card .shadow {
  z-index: 7;
}
.card .anima {
  z-index: 6;
}

/* corner icon svg styling*/

.icon {
  position: fixed;
  width: 70px;
  height: 70px;
}
.icon.top-left {
  top: 13px;
  left: 3px;
  z-index: 15;
}
.icon.top-right {
  top: 15px;
  right: 15px;
  z-index: 15;
}
.icon.bottom-left {
  bottom: 15px;
  left: 15px;
  z-index: 15;
}
.icon.bottom-right {
  bottom: 15px;
  right: 15px;
  z-index: 15;
}

/* subpage intro styling */

.self-intro {
  position: relative;
  text-align: center;
  margin: auto;
  padding: 120px 120px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.self-intro img {
  z-index: 14;
  width: 85%;
  height: auto;
}

/* centered text */

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15;
}
.centered-text-self {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15;
}
.centered-text-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 15;
}
.centered-text-anima {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15; 
}
/* footer styling */

footer {
  height: 100px;
}
.footer {
  display: flex;
  padding-left: 130px;
  padding-right: 130px;
}
.foot-left {
  flex:1; 
  padding-bottom: 50px;
}
.foot-right {
  text-align: right;
}
/* media querries */

@media screen and (max-width: 960px) {
  .intro {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
  }
  .left {
    display: block;
    padding: 0;
    margin: auto;
  }
  .right {
    display: block;
    padding-right: 20px;
    padding-top: 20px;
    margin: auto;
  }
  .title {
    padding: 0;
    margin: 0;
  }
  .subhead {
    padding-left: 0;
  }
  p {
    scale: 1.2;
  }
  h1 {
    scale: .7;
  }
  h2 {
    scale: .7;
  }
  h3 {
    scale: .7;
  }
  h4 {
    scale: .8;
  }
  h5 {
    scale: .8;
  }
  .footer {
    padding:0;
  }
  .icon {
    position: fixed;
    scale: .85;
}
  .icon.bottom-left {
    display: none;
  }
  .icon.top-right {
    display: none;
  }
  .icon.bottom-right {
    display: none;
  }
.vert-lines {
  display: none;
}
.horiz-lines {
  display: none;
}
.img-subpage {
  display: none;
}
.footer {
  bottom:0;
}
}