/*
File Name: stylesheet.css
Date: 01/30/23
Programmer: Justin Cory
*/
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* 
--COLOR PALETTE--
Primary: #F1EDD7; 
Background: #1F1F1F;
Body Text: #F2F2F2;
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #1f1f1f;
  height: 100vh;
  width: 100vw;
  /* cursor styling */
  cursor: url("./images/single-star-cursor.png"), auto;
}
h1 {
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 220px;
  color: #f1edd7;
}
h2 {
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 92px;
  color: #f1edd7;
}
h3 {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 51px;
  color: #f1edd7;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #f1edd7;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f2f2f2;
}
p {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 128%;
  color: #f2f2f2;
}
.current-page {
  text-decoration: overline underline solid #f1edd7;
  text-underline-offset: .25em;  
}
a:hover{
  cursor: url("./images/cursor-stars.png"), auto;
}

a {
  text-decoration: none;
}
a:hover {
  scale: 1.1;
}
a:visited {
  color: #f2f2f2;
}
a:current {
  text-decoration: overline underline 1px solid #f1edd7;
}
img { 
  width: 100%;
  height: auto;
}
/* grid lines */
.vert-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 100px;
  width: calc(100vw - 200px);
  height: 100vh;
  border: 0;
  border-left: 1px solid #f1edd7;
  border-right: 1px solid #f1edd7;
  z-index: 0;
}
.horiz-lines {
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 200px);
  border: 0;
  border-top: 1px solid #f1edd7;
  border-bottom: 1px solid #f1edd7;
  z-index: 0;
}
.intro {
  margin: auto;
  margin-top: 150px;
  display: flex;
  height: calc(100vh - 200px);
  padding: 100px 100px 200px 120px;
  justify-content: center;
  z-index: 3;
  align-items: center;
}
.left {
  flex: 1;
  padding-left: 0px;
}
.right {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.title {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.accent {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
.subhead {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.2rem;
  padding-top: 6rem;
  justify-content: center;
}
.arc-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 50%;
}
.page-title {
  padding-top: 100px;
  text-align: center;
  margin: auto;
}

.ovals {
  display: flex;
  width: 60%;
  /* turned off margin: auto; to the img width overlap to center the offset cards*/
  margin-left: 16%;
  padding-top: 100px;
  padding-bottom: 150px;
}
.ovals img {
  width: 150%;
}

.card img {
  filter: grayscale(100%);
  transition: 500ms;
}
.card-overlay {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 156%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(31,31,31,.65);
}

.card:hover .card-overlay {
  opacity: 1;
}

.card {
  flex: 1;
  display: flex;
  position: relative;
}
.card .self {
  z-index: 9;
}
.card .persona {
  z-index: 8;
}
.card .shadow {
  z-index: 7;
}
.card .anima {
  z-index: 6;
}

/* corner icon svg styling*/

.icon {
  position: fixed;
  width: 70px;
  height: 70px;
}
.icon.top-left {
  top: 13px;
  left: 3px;
  z-index: 15;
}
.icon.top-right {
  top: 15px;
  right: 15px;
  z-index: 15;
}
.icon.bottom-left {
  bottom: 15px;
  left: 15px;
  z-index: 15;
}
.icon.bottom-right {
  bottom: 15px;
  right: 15px;
  z-index: 15;
}

/* subpage intro styling */

.self-intro {
  position: relative;
  text-align: center;
  margin: auto;
  padding: 120px 120px;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}
.self-intro img {
  z-index: 14;
  width: 85%;
  height: auto;
}

/* centered text */

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15;
}
.centered-text-self {
  position: absolute;
  overflow: scroll;
  max-height: 40vh;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15;
}
.centered-text-shadow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 15;
}
.centered-text-anima {
  position: absolute;
  top: 65%;
  overflow: scroll;
  max-height: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 15; 
}
/* footer styling */

footer {
  height: 100px;
}
.footer {
  display: flex;
  padding-left: 130px;
  padding-right: 130px;
}
.foot-left {
  flex:1; 
  padding-bottom: 50px;
}
.foot-right {
  text-align: right;
}

/* media querries */
.hamburger-nav {
  display: flex;
  width: 100vw;
}
/* START of desktop menu for 768 media query */
nav ul {
  position: fixed;
  height: 100px;
  left: 100px;
  right: 100px;
  top: 0px;
  width: calc(100vw - 202px);
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 999;
  /* nav background */
  background: rgba(31,31,31,.65)
}
nav a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1edd7;
  padding: 30px 0;
}
nav li {
  z-index: 999;
}
.menu-desktop {
  width: 100%;
  display: block;
  padding: 0;
  justify-content: space-evenly;
  flex-direction: row;
  height: 0;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: block;
}

.menu-mobile {
  display: none;
}
/* END of desktop menu for 768 media query */

/* medium to small devices (768px and smaller aka mobile) */
@media only screen and (max-width: 768px) {
  /* START of Mobile Menu */
  .nav,
  .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
  }

  .burger {
    position: fixed;
    cursor: pointer;
    top: 6%;
    right: 0%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }

  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #f1edd7;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #f1edd7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    top: 10px;
  }

  .burger.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  .burger.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
    background: #1f1f1f;
  }

  .burger.active .hamburger:after {
    background: #1f1f1f;
    top: 0;
    transform: rotate(135deg);
  }

  .menu-mobile {
    background-color: #f1edd7;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
  }

  .menu-mobile,
  .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #1f1f1f;
    height: 70px;
    line-height: 70px;
  }
  .desktop,
  .menu-desktop,
  .menu-mobile {
    display: none;
  }
  /* END OF Mobile Menu */
}

@media screen and (max-width: 960px) {
   .intro {
    flex-direction: column-reverse;
    padding: 10;
  }
  .left {
    margin: auto;
    padding-top: 0;
    padding-left: 10;
    padding-right: 10;
  }
  .right {
    padding-right: 0;
    padding-top: 400px;
    padding-bottom: 0;
    margin: auto;
  }
  .title {
    padding: 0;
    margin: 0;
    margin-top: 0;
  }
  .subhead {
    padding-left: 0;
  }
  p {
    scale: 1.1;
    margin: 0;
  }
  h1 {
    scale: .7;
  }
  h2 {
    scale: .7;
  }
  h3 {
    scale: .7;
  }
  h4 {
    scale: .8;
  }
  h5 {
    scale: .8;
  }
  .icon {
    position: fixed;
    scale: .85;
}
  .icon.bottom-left {
    display: none;
  }
  .icon.top-right {
    display: none;
  }
  .icon.bottom-right {
    display: none;
  }
.vert-lines {
  display: none;
}
.horiz-lines {
  display: none;
}
.arc-img {
  width: 100%;
}
.img-subpage {
  padding-top: 100px;
  position: relative;
  opacity: 30%;
}
.footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.self-intro {
  display: block;
  position: absolute;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 500px;
}
.centered-text{
  position: relative;
}
.centered-text-anima {
  overflow: visible;
  max-height: 80vh;
  width: 70vw;
  margin: auto;
  padding-top: 100px;
}
.centered-text-self {
  overflow: visible;
  max-height: 80vh;
  width: 70vw;
  margin: auto;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}
.centered-text-shadow {
  overflow: visible;
  max-height: 80vh;
  width: 70vw;
  margin: auto;
  padding-top: 100px;
}
.centered-text-persona {
  overflow: visible;
  max-height: 80vh;
  width: 70vw;
  margin: auto;
  padding-top: 100px;
}
.card-overlay {
  display: none;
}
.ovals {
  display: flex;
  width: 60%;
  /* turned off margin: auto; to the img width overlap to center the offset cards*/
  margin-left: 16%;
  position: absolute;
  padding-top: 700px;
  padding-bottom: 300px;
  z-index: 1;
}
}