/*
File Name: stylesheet.css
Date: 03/03/23
Programmer: Justin Cory
*/

/* Fonts */
@font-face {
    font-family: "Data70";
    src: url("fonts/Data-70-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Wilden";
    src: url("fonts/Wilden.otf") format("opentype"),
         url("fonts/Wilden.ttf");
}
@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.otf") format("opentype");
}
/* --Color Palette-- 
Primary: #B1D5B6; 
Secondary: CB553C;
Background: #000000;
*/

* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
body {
    background: #000;
    color: #B1D5B6;
  }

/* Typography Styling */
h1 {
    font-family: "Data70", monospace;
    font-size: 67px;
    color: #fff;
}
h2 {
    font-family: "Wilden", sans-serif;
    font-size: 39px;
}
h3 {
    font-family: "Wilden", sans-serif;
    font-size: 25px;
    color: #fff;
}
h4 { 
    font-family: "Wilden", sans-serif;
    font-size: 20px;
}
p {
    font-family: "Aeonik", sans-serif;
    font-size: 20px;
    color:#B1D5B6;
    line-height: 1.5rem;
}
/* focus in text and keyframes */
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
img { 
    width: 100%;
    height: auto;
  }
/* --Desktop Nav-- */ 
nav {
    background-image: url("images/metal-nav-bkgnd.png");
    position: fixed;
    height: 200px;
    width: 100%;
    margin-top: 0;
    z-index: 99;
}
nav a {
    margin: auto;
    width: 100%;
    display: block;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}
nav ul {
    font-family: "Wilden", sans-serif;
    font-size: 20px;
    color: #000;
    position: fixed;
    height: 100px;
    left: 100px;
    right: 100px;
    top: 150px;
    width: calc(100vw - 202px);
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.nav {
    font-family: "Wilden", sans-serif;
    font-size: 20px;
    color: #000;
    margin: auto;
    z-index: 99;  
}
.nav a:visited {
    color: #000;
}
.frame {
    position: absolute;
    border-radius: 20px;
    border: 2px solid #000;
    top: 10px;
    right: 10px;
    left: 10px;
    margin: auto;
    width: 98%;
    height: 180px;
}
.title {
    margin-top: 5px;
    font-family: "Data70", monospace;
    font-size: 40px;
    color: #000;
}
.title a:visited {
  color: #000;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    scale: 1.1;
  }
a:visited {
    color: #fff;
  }
.nav-grid {
    display: grid; 
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 100px;
    padding: 20px;
    padding-bottom: 30px;
 }
#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    margin: auto;
    place-self: center;
 }
 #item-1 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;  
    width: 72px;
    margin: auto;
 }
 #item-2 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
    width: 72px;
    margin: auto;  
 }
 #item-3 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 6; 
    width: 72px;
    margin: auto; 
 }
 #item-4 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 2;
    grid-column-end: 7; 
    width: 72px;
    margin: auto; 
 }
 #item-5 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 2;
    grid-column-end: 9;  
    align-content: baseline;
    width: 280px;
    margin: auto;
    display: inline;
 }
#light {
  width: 40%;
  display: block;
  margin: auto;
}
#switch {
    width: 50%;
    margin: auto;
    display: block;
}
#home {
  margin: auto;
  display: block;
  padding-top: 5px;
}
#knob1 {
  transform: rotate(90deg);
}
#knob2 {
  transform: rotate(-90deg);
}
#knob3 {
  transform: rotate(-60deg);
}
#knob4 {
  transform: rotate(40deg);
}
#meter {
    width: 60%;
}
#hero {
    padding-top: 200px;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

/* SVG hero animation styling */
.cls-1 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18 {
    stroke: #b1d5b6;
    stroke-linecap: round;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19 {
    fill: none;
  }

  .cls-2 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-3 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-4 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-5 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-6 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-7 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-8 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-9 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-10 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-11 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-12 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-13 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-14 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-15 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-16 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-17 {
    stroke-miterlimit: 4;
    stroke-width: 3px;
  }

  .cls-18, .cls-19 {
    stroke-width: 3px;
  }

  .cls-19 {
    stroke: #CB553C;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name:pulse;
  }
  .cls-19:nth-child(2){
    animation-delay: 250ms;
  }
  .cls-19:nth-child(3){
    animation-delay: 500ms;
  }
  .cls-19:nth-child(4){
    animation-delay: 750ms;
  }
  .cls-19:nth-child(5){
    animation-delay: 1000ms;
  }
  .cls-19:nth-child(6){
    animation-delay: 1250ms;
  }
  @keyframes pulse {
    from {stroke: #cb553c; }
    to {stroke: #B1D5B6;}
  }
  @media (prefers-reduced-motion: reduce) {
    .cls-19:nth-child(2) .cls-19:nth-child(3) .cls-19:nth-child(4) .cls-19:nth-child(5) .cls-19:nth-child(6) {
      animation-play-state: paused;
    }
  }
 /* end of svg hero animation styling */
.hero-container {
  display: flex;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
}
/* button styling */
.two-button-container {
    position: absolute; 
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.button-left {
    position: relative;
    padding-right: 10px;
}
.button-right {
    position: relative;
    padding-left: 10px;
}
.active-button {
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inactive-button {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.secondary-button {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}
.button-text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}   
.pause-button {
  position: relative;
  display: block;
  padding-top: 10px;
  margin: auto;
}
button {
  background: none;
  border: none;
}

/* marquee styling */
.marquee-container {
    padding-top: 50px;
    display: flex;
    align-content: center;
    max-width: 100vw;
    margin: auto;
}
.cls-420 {
    fill: #b1d5b6;
    position: absolute;
    flex: 1;
    flex-shrink: 0;
    align-items: center;
    min-width: 100%;
    height: 200%;
    margin: 0;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 5s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 30s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@media (prefers-reduced-motion: reduce) {
  .cls-420 {
    animation-play-state: paused;
  }
}

 /* testimonial section styling */
#testimonial {
    padding-top: 100px;
    width: 100%;
    margin: auto;
}

blockquote {
  width: 80%;
  margin: auto;
  font-family: "Wilden", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  line-height: 2.5rem;
  padding-bottom: 20px; 
  padding-top: 15%; 
}
/* video styling: 100% width and height to cover the entire window */
#video-container { 
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  position: relative;
}
#video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* content over video */
.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  width: 100%;
}
/* Style the button used to pause/play the video */
#myBtn {
  margin: auto;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: url("images/hanks-button-active-grn.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  font-family: "Wilden", sans-serif;
  font-size: 25px;
  color: #000;
  text-align: center;
  align-items: center;
}
.parent { 
  display: flex;
}
.child {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.left {
  padding-right: 10px;
}
.right {
  padding-left: 10px;
}
form {
  color: #fff;
  font-family: "Aeonik", sans-serif;
  font-size: 20px;
}
input[type=text] {
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  background-color: #B1D5B6;
  color: #000;
  font-family: "Aeonik", sans-serif;
  font-size: 20px;
}
input[type=email] {
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  background-color: #B1D5B6;
  color: #000;
  font-family: "Aeonik", sans-serif;
  font-size: 20px;
}
input[type=text]:focus {
  border: 3px solid #CB553C;
}
input[type=email]:focus {
  border: 3px solid #CB553C;
}
input[type=button], input[type=submit], input[type=reset] {
  background-image: url("images/hanks-button-inactive-grn.png");
  border: none;
  color: white;
  text-decoration: none;
  font-family: "Wilden", sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 50px;
}

/* shop section styling */
#shop {
    padding-top: 220px;
    width: 80%;
    margin: auto;
}

/* sell section styling */
#sell {
    padding-top: 220px;
    width: 80%;
    margin: auto;
}

.st0 {
  fill:none;stroke:#CB553C;stroke-width:3;
}
.st1 {
  fill:none;stroke:#B1D5B6;stroke-width:3;stroke-linecap:round;
}

/* about section styling */
#about {
    padding-top: 220px;
    width: 80%;
    margin: auto;
}

/* contact section styling */
#contact {
    padding-top: 220px;
    width: 80%;
    margin: auto;
}

/* footer section styling */
#footer {
    padding-top: 220px;
    width: 80%;
    margin: auto;
    bottom: 0;
    padding-bottom: 50px;
}
#footer-header {
    font-size: 40px;
}
.ig-icon {
    padding-right: 10px;
}
.fb-icon {
    padding-left: 10px;
}